
<div id="add-hotel-details-header" class="flex-container-header">
  <h4 id="header-text">Add Hotel</h4>
  <button id="header-button" (click)="closeHotelDialog()" mat-button>Close</button>
</div>

<hr>

<div id="hotel-name">
  <h3>{{hotelData.name}}</h3> 
  <!-- <h6>Rating:{{hotelData.rating}}/5</h6> -->
  <h5>{{hotelData.description}}</h5>
 
</div>


    <p>Check In</p>
    <div id="arrival-block" class="flex-container">

        <div class="date-field">
           <mat-form-field class="date-input-field" appearance="outline">
                <mat-label>Date</mat-label>

                <input placeholder="Trip Date"  matInput [matDatepicker]="arrivalDatepicker"
                  (dateChange)="handleArrivalDateSet($event)" [value]="arrivalDate"  />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="arrivalDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #arrivalDatepicker></mat-datepicker>
              </mat-form-field>
        </div>

        <div class="time-field">
            <mat-form-field class="time-input-field" appearance="outline">
                <mat-label>Time</mat-label>
                <input
                  matInput
                  [ngxTimepicker]="arrivalTimePicker"
                  [format]="12"
                  [value]="arrivalTime"
               
                />
              </mat-form-field>
              <ngx-material-timepicker
                (timeSet)="handleArrivalTimeSet($event)"
                #arrivalTimePicker
                [theme]="timePickerThemeService.darkTheme"
              ></ngx-material-timepicker>
        </div>

      </div>


      <p>Check Out</p>

      <div id="departure-block" class="flex-container">

          <div class="date-field">
              <mat-form-field class="date-input-field" appearance="outline">
                  <mat-label>Date</mat-label>
                  <input
                    placeholder="Trip Date"
                    matInput
                    [matDatepicker]="departureDatepicker"
                    (dateChange)="handleDepartureDateSet($event)"
                    [value]="departureDate"
                    [min]="getMinDate()"
                    readonly
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="departureDatepicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #departureDatepicker></mat-datepicker>
                </mat-form-field>

            </div>

            <div class="time-field">
                <mat-form-field class="time-input-field" appearance="outline">
                    <mat-label>Time</mat-label>
                    <input
                      matInput
                      [ngxTimepicker]="departureTimePicker"
                      [format]="12"
                      [value]="departureTime"
                      readonly
                    />
                  </mat-form-field>
                  <ngx-material-timepicker
                    (timeSet)="handleDepartureTimeSet($event)"
                    #departureTimePicker
                    [theme]="timePickerThemeService.darkTheme"
                  ></ngx-material-timepicker>
              </div>
      </div>
      <br>

<div id="buttons-block">
    <button mat-button (click)="closeHotelDialog()">CANCEL</button>
    <button mat-raised-button (click)="addHotel()" color="primary">ADD</button>
</div>
