<div class="nav-bar"
     [ngStyle]="{
    backgroundColor: extraOptions.backgroundColor
  }"
>
  <div class="hamburger" #burger>
    <div class="icon-line"></div>
    <div class="icon-line"></div>
    <div class="icon-line"></div>
  </div>

  <div class="nav-bar-content margin-auto align-items-center white">

    <div class="project-title"
         routerLink="/"
    >
      <ul>
        <li><h2>Tripster</h2></li>
        <li class="project-sub-title">Roadtrip Planner</li>
      </ul>
    </div>

    <ul class="extras"
        #extras
        [ngStyle]="{
        width: getWidth()
      }"
    >
      <!-- <li
        *ngFor="let option of extraOptions.links"
        [routerLink]="option.url"
      >
        {{ option.name }}
      </li> -->
      <li *ngIf="loginService?.loggedIn"><img class="user-img" [src]="loginService?.user.photoUrl" alt=""></li>
      <li *ngIf="loginService?.loggedIn">{{loginService?.user?.name}}</li>
      <li (click)="signInWithGoogle()" *ngIf="!loginService?.loggedIn">Log in</li>
      <li (click)="signOut()" *ngIf="loginService?.loggedIn">Log out</li>
    </ul>

  </div>
</div>
