<div class="nav-bar">
  <div class="nav-bar-content margin-auto align-items-center white">

    <div class="icon bg-white">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

    <div class="project-title">
      <ul>
        <li><h2>Tripster</h2></li>
        <li class="project-sub-title">Roadtrip Planner</li>
      </ul>
    </div>

    <div class="extras">
      <ul>
        <li>Explore</li>
        <li>Login</li>
      </ul>
    </div>

  </div>
</div>

