* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.nav-bar {
  height: 70px;
  width: 100%;

  position: absolute;
  z-index: 2;
}

.nav-bar-content {
  display: flex;
  width: 80%;
  max-width: 1100px;
  height: 100%;
  justify-content: space-between;
}

.hamburger {
  display: none;
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

.icon-line {
  background-color: white;
  height: 0.2em;
  width: 1.8em;
  margin-bottom: 20%;
}

.project-title {
  letter-spacing: 0.3em;
}

.project-title:hover {
  cursor: pointer;
  color: #7f7f7f;
}

.project-title:focus {
  outline: none;
}

.project-sub-title {
  font-size: 0.6em;
  letter-spacing: 0.3em;
}

ul.extras {
  display: flex;
  width: 12%;
  justify-content: space-between;
}

ul.extras li:hover {
  cursor: pointer;
  color: #7f7f7f;
  font-size: 1.1em;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
  ul.extras {
    width: 15%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 950px) {
  ul.extras {
    width: 18%;
  }
}

@media screen and (max-width: 950px) and (min-width: 800px) {
  ul.extras {
    width: 21%;
  }
}

@media screen and (max-width: 800px) and (min-width: 0px) {
  ul.extras {
    width: 30%;
  }
}

@media screen and (max-width: 615px){
  .nav-bar {
    height: 60px;
  }

  .hamburger {
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .extras {
    position: absolute;
    background-color: #0B1240;

    left: 0;
    top: 60px;

    z-index: 2;
    width: 50%;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  .extras li {
    padding-left: 35%;
    padding-top: 10px;

    height: 40px;
    font-size: 20px;
  }

  .extras li:hover {
    color: #0B1240;

    text-decoration: underline;
    background-color: white;

    cursor: pointer;
  }

  .project-title {
    margin-left: 30%;
  }
}

.nav-active {
  transform: translateX(0);
}
