* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.nav-bar {
  height: 70px;
  width: 100%;

  position: absolute;
  z-index: 2;
}

.nav-bar-content {
  display: flex;
  width: 80%;
  max-width: 1100px;
  height: 100%;
  justify-content: space-between;
}

.hamburger {
  display: none;
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

.icon-line {
  background-color: white;
  height: 0.2em;
  width: 1.8em;
  margin-bottom: 20%;
}

.project-title {
  letter-spacing: 0.3em;
}

.project-title:hover {
  cursor: pointer;
  color: #7f7f7f;
}

.project-title:focus {
  outline: none;
}

.project-sub-title {
  font-size: 0.6em;
  letter-spacing: 0.3em;
}

ul.extras {
  display: flex;
  justify-content: space-between;
}

ul.extras li {
  width: fit-content;
  font-size: 14px;
  margin-left: 25px;
}

ul.extras li:hover {
  cursor: pointer;
  color: #7f7f7f;
  font-size: 16px;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.user-img {
  position: relative;
  height: 18px;
}

@media screen and (max-width: 615px) {
  .nav-bar {
    height: 60px;
  }

  .hamburger {
    display: block;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .extras {
    position: absolute;
    width: 200px;
    background-color: var(--main-theme-color);

    left: 0;
    top: 60px;

    z-index: 2;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  ul.extras li {
    width: 200px;
    padding-top: 10px;
    padding-left: 35px;

    height: 40px;
    font-size: 20px;
    margin: 0;
  }

  ul.extras li .text {
    margin: auto;
  }

  .extras li:hover {
    color: var(--main-theme-color);

    text-decoration: underline;
    background-color: white;

    cursor: pointer;
  }

  .project-title {
    margin-left: 30%;
  }

  .user-img {
    display: none;
  }
}

.nav-active {
  transform: translateX(0);
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
