* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.display-none {
  display: none;
}

.nav-bar {
  height: 70px;
  background-color: #0B1240;
}

.nav-bar-content {
  width: 80%;
  height: 100%;
  display: flex;
}

.navbar-icon {
  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
}

.nav-bar-icon:focus {
  color: gray;
}

.icon-line {
  background-color: white;
  height: 0.2em;
  width: 1.8em;
  margin-bottom: 20%;
}

.project-title {
  letter-spacing: 0.3em;
  width: 86%;
}

.project-sub-title {
  font-size: 0.6em;
  letter-spacing: 0.3em;
}

.extras ul {
  display: inline-flex;
  width: 130%;
  justify-content: space-between;
}

.extras-overlay {
  position: absolute;
  width: 30%;
  z-index: 1;
}

.extras-overlay li{
  background-color: #0B1240;
  color: white;
  padding: 5%;
  font-size: 18px;
  border-bottom: 1px solid white;
}

.extras-overlay li:hover {
  background-color: white;
  color: #0B1240;
  text-decoration: underline;
  cursor: pointer;
  border: 1px solid #0B1240;
}

@media screen and (max-width: 900px) and (min-width: 800px) {
  .project-title {
    width: 81%;
  }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .project-title {
    width: 78%;
  }
}

@media screen and (max-width: 700px) and (min-width: 615px) {
  .project-title {
    width: 75%;
  }
}

@media screen and (max-width: 615px){
  .nav-bar {
    height: 60px;
  }

  .extras {
    display: none;
  }

  .project-title {
    margin-left: 30%;
  }
}
