<div class="container">
  <table>
    <thead>
    </thead>
    <tbody>
    <tr>
      <td>
          <span>
            <label for="fuelCost">Cost of fuel (per litre)
            </label>
          </span>
      </td>
      <td>
        <input
          type="number"
          min="0"
          id="fuelCost"
          [(ngModel)]="fuelCostPerLiter"
          (input)="onPriceInput($event)"
          #price
        >
      </td>
    </tr>

    <tr>
      <td>
          <span>
            <label for="mileage">Mileage (in kilometers)

            </label>
          </span>
      </td>
      <td>
        <input
          type="number"
          min="0"
          id="mileage"
          [(ngModel)]="mileageOfCar"
          (input)="onMileageInput($event)"
          #mileage
        >
      </td>
    </tr>
    <tr>
      <td><p>Total distance </p></td>
      <td><p>{{ getDistance() + ' Kilometers'}}</p></td>
    </tr>
    <tr>
      <td><p>Total fuel consumption </p></td>
      <td><p>{{ getFuelConsumption() + ' Litre' }} </p></td>
    </tr>
    <tr>
      <td><p>Approximate fuel cost </p></td>
      <td><p>{{ getFuelCost() + ' Rupees'}}</p></td>
    </tr>
    </tbody>
  </table>

  <span class="fuel-price-info" *ngIf="fuelPriceFromSource">
    *Current Fuel Price in {{tripService?.trip.source.name}}
  </span>
  <span class="fuel-price-info" *ngIf="!fuelPriceFromSource && !displayLoader">
    *Fuel Price can't be fetched for {{tripService?.trip.source.name}}
  </span>

  <div class="loader" *ngIf="displayLoader">
    <mat-spinner class="more-attractions-loader"></mat-spinner>
  </div>
</div>
