<form (ngSubmit)="onSubmit()">
  <mat-card class="search-card">
    <div class="source">
      <app-place-autocomplete
        class="input-field"
        placeholder="Source"
        (onPlaceChange)="handleSourceChange($event)"
      ></app-place-autocomplete>
    </div>
    <div class="destination">
      <app-place-autocomplete
        class="input-field"
        placeholder="Destination"
        (onPlaceChange)="handleDestinationChange($event)"
      ></app-place-autocomplete>
    </div>
    <span class="date-time">
      <span>
        <mat-form-field class="date input-field" appearance="outline">
          <mat-label>Date</mat-label>
          <input
            matInput
            style="width: 100%"
            [matDatepicker]="myDatepicker"
            (dateChange)="handleDateSet($event)"
            [value]="tripDate"
            [min]="getMinDate()"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="myDatepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </span>
      <span>
        <mat-form-field class="time input-field" appearance="outline">
          <mat-label>Time</mat-label>
          <input
            matInput
            style="width: 100%"
            [ngxTimepicker]="endTime"
            [format]="12"
            [value]="tripTime"
            readonly
          />
          <mat-icon matSuffix style="color: gray">access_time</mat-icon>
        </mat-form-field>

        <ngx-material-timepicker
          (timeSet)="handleTimeSet($event)"
          #endTime
        ></ngx-material-timepicker>
      </span>
      <button
        class="button"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!searchForm.valid"
      >
        Go
      </button>
    </span>
    <hr />
    <mat-form-field class="mileage input-field" appearance="outline">
      <mat-label>Mileage (in kms per litre)</mat-label>
      <input matInput placeholder="Enter Mileage(Km/l)" />
    </mat-form-field>
  </mat-card>
</form>
