<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <mat-card class="search-card">
    <app-place-autocomplete
      class="input-field"
      placeholder="Starting Location"
      (onPlaceChange)="handleSourceChange($event)"
    ></app-place-autocomplete>
    <app-place-autocomplete
      class="input-field"
      placeholder="Destination Location"
      (onPlaceChange)="handleDestinationChange($event)"
    ></app-place-autocomplete>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Date</mat-label>
      <input
        placeholder="Trip Date"
        matInput
        [matDatepicker]="myDatepicker"
        (dateChange)="handleDateSet($event)"
        [value]="tripDate"
        [min]="getMinDate()"
        readonly
      />
      <mat-datepicker-toggle
        matPrefix
        [for]="myDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Time</mat-label>
      <input
        matInput
        [ngxTimepicker]="endTime"
        [format]="12"
        [value]="tripTime"
        readonly
      />
    </mat-form-field>
    <ngx-material-timepicker
      (timeSet)="handleTimeSet($event)"
      #endTime
    ></ngx-material-timepicker>
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Enter Mileage(Km/l)</mat-label>
      <input matInput placeholder="Enter Mileage(Km/l)" />
    </mat-form-field>

    <button
      class="button"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!searchForm.valid"
    >
      Go
    </button>
  </mat-card>
</form>
