.search-card {
  margin: 20px auto;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
}
.input-field {
  margin-left: 2%;
}
.timepicker {
  width: 30px;
}
.button {
  margin-left: 2%;
  height: 50px;
}

.source,
.destination {
  display: inline-flex;
  width: 25%;
  margin-left: 1%;
}

.source *,
.destination * {
  width: 100%;
}
