<mat-card>
  <p>Map Works</p>
  <agm-map [fitBounds]="true">
    <agm-marker
      *ngIf="tripService?.trip?.source"
      [agmFitBounds]="true"
      [latitude]="tripService?.trip?.source.location.latitude"
      [longitude]="tripService?.trip?.source.location.longitude"
    ></agm-marker>
    <agm-marker
      *ngIf="tripService?.trip?.destination"
      [agmFitBounds]="true"
      [latitude]="tripService?.trip?.destination.location.latitude"
      [longitude]="tripService?.trip?.destination.location.longitude"
    ></agm-marker>
    <agm-direction
      *ngIf="tripService?.trip?.source && tripService?.trip?.destination"
      [origin]="{
        lat: tripService?.trip?.source.location.latitude,
        lng: tripService?.trip?.source.location.longitude
      }"
      [destination]="{
        lat: tripService?.trip?.destination.location.latitude,
        lng: tripService?.trip?.destination.location.longitude
      }"
      [waypoints]="[{
      location: { lat: 22, lng: 75 }},{
        location:{lat:28,lng:73}
      }
      ]"
      [renderOptions]="{
        draggable: false,
        suppressMarkers: true,
        suppressInfoWindows: false
      }"
      (onResponse)="tripService.handleDirectionResponse($event)"
    >
    </agm-direction>
  </agm-map>
</mat-card>
