<div class="container">
  <div class="loader" *ngIf="isLoading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <agm-map #map [fitBounds]="true" *ngIf="!isLoading" [latitude]="tripService?.placeMarker?.location.latitude"
           [longitude]="tripService?.placeMarker?.location.longitude" (mapReady)="mapReady($event)" [minZoom]="minZoom"
           [maxZoom]="maxZoom" [zoom]="tripService?.mapZoom" (zoomChange)="handleZoomChange($event)">
    <button
      id="center"
      (click)="showRoute(map)"
    >
      <mat-icon class="btn-icon">center_focus_strong</mat-icon>
    </button>
    <agm-marker
      *ngIf="tripService?.trip?.source"
      [agmFitBounds]="true"
      [latitude]="tripService?.trip?.source.location.latitude"
      [longitude]="tripService?.trip?.source.location.longitude"
      (mouseOver)="showPlaceInfoWindow(sourcePlaceInfoWindow)"
      (mouseOut)="hidePlaceInfoWindow(sourcePlaceInfoWindow)"
    >
      <agm-info-window #sourcePlaceInfoWindow>{{tripService?.trip?.source.name}}</agm-info-window>
    </agm-marker>
    <agm-marker
      *ngIf="tripService?.trip?.destination"
      [agmFitBounds]="true"
      [latitude]="tripService?.trip?.destination.location.latitude"
      [longitude]="tripService?.trip?.destination.location.longitude"
      (mouseOver)="showPlaceInfoWindow(destinationPlaceInfoWindow)"
      (mouseOut)="hidePlaceInfoWindow(destinationPlaceInfoWindow)"
    >
      <agm-info-window #destinationPlaceInfoWindow>{{tripService?.trip?.destination.name}}</agm-info-window>
    </agm-marker>
    <agm-marker
      *ngFor="let stop of tripService?.waypoints;let i = index"
      [agmFitBounds]="true"
      [latitude]="stop.location.lat"
      [longitude]="stop.location.lng"
      [iconUrl]="stopIconUrl"
      (mouseOver)="showPlaceInfoWindow(placeInfoWindow)"
      (mouseOut)="hidePlaceInfoWindow(placeInfoWindow)"
    >
      <agm-info-window #placeInfoWindow>{{tripService?.waypointsInfo[i].name}}</agm-info-window>
    </agm-marker>

    <agm-marker
      *ngIf="tripService?.placeMarker"
      [latitude]="tripService?.placeMarker?.location.latitude"
      [longitude]="tripService?.placeMarker?.location.longitude"
      [iconUrl]="placeIconUrl"
    >
      <agm-info-window [isOpen]="true"
                       (infoWindowClose)="tripService?.hidePlaceMarker()">{{tripService?.placeMarker?.name}}</agm-info-window>
    </agm-marker>
    <agm-direction
      *ngIf="tripService?.trip?.source && tripService?.trip?.destination"
      [origin]="{
        lat: tripService?.trip?.source.location.latitude,
        lng: tripService?.trip?.source.location.longitude
      }"
      [destination]="{
        lat: tripService?.trip?.destination.location.latitude,
        lng: tripService?.trip?.destination.location.longitude
      }"
      [waypoints]="tripService?.waypoints"
      [optimizeWaypoints]="false"
      [markerOptions]="markerOptions"
      [renderOptions]="{
        draggable: false,
        suppressMarkers: true,
        suppressInfoWindows: false
      }"
      (onResponse)="tripService.handleDirectionResponse($event)"
    >
    </agm-direction>
  </agm-map>
</div>
