* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


.body {
  position: absolute;
  width: 100%;
}

.body .background {
  background-color: rgba(240, 240, 240, 0.5);
  position: absolute;
  width: 100%;
  height: 105vh;
}

.body .container {
  position: relative;
  margin: 90px auto auto;

  max-width: 1100px;
  width: 80%;
  height: var(--body-height);
}

.container .navigation {
  position: absolute;
  height: 100%;
  width: 25%;
}

.container .profile {
  position: absolute;
  height: 100%;
  width: 75%;

  margin-left: 25%;
}

.container .profile div {
  height: 100%;
}

.navigation .navigation-item-list {
  border-right: 1px solid var(--main-theme-color);
}

.navigation .navigation-item-list .navigation-item {
  position: relative;
  height: 50px;
  width: 100%;

  font-size: 20px;

  cursor: pointer;
}

.navigation .navigation-item-list .navigation-item span.text-content {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  white-space: pre;
}

.navigation .navigation-item-list .navigation-item.active,
.navigation .navigation-item-list .navigation-item:hover {
  background-color: var(--main-theme-color);
  color: white;
}

.navigation .navigation-item-list .navigation-item.active,
.navigation .navigation-item-list .navigation-item:hover {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.navigation .navigation-item-list .navigation-item.active span.text-content {
  text-decoration: underline;
}
