<div class="body">
  <div class="container">
      <h2 *ngIf='loginService?.loggedIn'>
        Your Past Trips (Total: {{  loginService?.tripsArray?.length }})
      </h2>
      <div class="trips" *ngIf='loginService?.loggedIn'>
        <div class="trip" *ngFor="let trip of loginService?.tripsArray">
          <app-past-trip-item
            [trip]="trip"
          ></app-past-trip-item>
        </div>
      </div>
      <div *ngIf='!loginService.loggedIn'>
        <h2>Please login to to view your previous trips.</h2>
      </div>
  </div>
</div>
