<div class="body">
  <div class="container">
      <h2>Your Past Trips</h2>
      <div class="trips">
        <div class="trip">
          <app-past-trip-item></app-past-trip-item>
        </div>
        <div class="trip">
          <app-past-trip-item></app-past-trip-item>
        </div>
        <div class="trip">
          <app-past-trip-item></app-past-trip-item>
        </div>
        <div class="trip">
          <app-past-trip-item></app-past-trip-item>
        </div>
        <div class="trip">
          <app-past-trip-item></app-past-trip-item>
        </div>
      </div>
  </div>
</div>
