.add-stop-card{
    max-width: 800px;
}
.date-field{
    width:40%;
    height:100%;
    float:left;
}
.time-field{
    width:40%;
    height:100%;
}
#arrival-block{
height:100%;
width: 100%;
}
#depature-block{
height:100%;    
}
#add-stop-header{
    width:100%;
}
#header-text{
    width: 50%;
    float: left;
}
#header-button{
    float: right;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: black;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: -webkit-fill-available;
}