.date-input-field{
  width:40%;
  height:100%;
  float:left;
}
.date-field{
  width:40%;
  height:100%;
  float:left;
}
.time-field{
  width:40%;
  height:100%;
}
#add-attraction-details-header{
  width:100%;
  height:50px;
}
#header-text{
  width: 50%;
  float: left;
  margin: auto;
}
#header-button{
  float: right;
  margin-left: 40%;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: black;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: -webkit-fill-available;
}

.timepicker {
  width: 30px;
}

@media only screen and (max-width: 490px) {
  .flex-container {
      display: flex;
      flex-direction: column;
      min-width: 100x;
    }
    .flex-container > div {

      width:80%;
      /*margin: 10px;*/
    }
}
@media only screen and (min-width: 490px) {
  .flex-container {
      display: flex;
      flex-direction: row;
    }
    .flex-container > div {
      width: 45%;
      /*margin: 10px;*/
    }
}

.flex-container-header {
  display: flex;
  flex-direction: row;
}
.flex-container-header > div {
  width: 40%;
  margin: 10px;
}


p{
  margin-bottom: 5px;
}
mat-dialog-content{
  overflow: hidden;
}

hr{
margin-top: 0px;
}

#buttons-block {
text-align: end;
}
#bottom-button-block{
width:50%;
float: right;
}
#bottom-error-block{
width:50%;
}
/* #buttons-block:disabled{
color: white;
} */
#attraction-error{
color: red;
text-align: left;
float: left;
margin-top: 3%;
font-size: 13px;
}
