<div id="add-hotel-details-header" class="flex-container-header">
  <h4 id="header-text">Add Attraction</h4>
  <button id="header-button" (click)="closeAttractionDialog()" mat-button>
    Close
  </button>
</div>

<hr />

<div id="hotel-name">
  <h3>{{ attractionData.name }}</h3>
  <!-- <h6>Rating:{{hotelData.rating}}/5</h6> -->
  <h5>{{ attractionData.description }}</h5>
</div>

<p>Arrival</p>
<div id="arrival-block" class="flex-container">
  <div class="date-field">
    <mat-form-field class="date-input-field" appearance="outline">
      <mat-label>Date</mat-label>

      <input
        placeholder="Trip Date"
        matInput
        [matDatepicker]="arrivalDatepicker"
        (dateChange)="handleArrivalDateSet($event)"
        [value]="arrivalDate"
        [min]="getMinDate()"
        [max]="getMaxDate()"
        (focus)="arrivalDatepicker.open()"
        readonly
      />

      <mat-datepicker-toggle
        matSuffix
        [for]="arrivalDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #arrivalDatepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="time-field">
    <mat-form-field class="time-input-field" appearance="outline">
      <mat-label>Time</mat-label>
      <input
        matInput
        [ngxTimepicker]="arrivalTimePicker"
        [format]="12"
        [value]="arrivalDate | date: 'h:mm a'"
        readonly
      />
    </mat-form-field>
    <ngx-material-timepicker
      (timeSet)="handleArrivalTimeSet($event)"
      #arrivalTimePicker
      [theme]="timePickerThemeService.darkTheme"
    ></ngx-material-timepicker>
  </div>
</div>

<p>Departure</p>

<div id="departure-block" class="flex-container">
  <div class="date-field">
    <mat-form-field class="date-input-field" appearance="outline">
      <mat-label>Date</mat-label>
      <input
        placeholder="Trip Date"
        matInput
        [matDatepicker]="departureDatepicker"
        (dateChange)="handleDepartureDateSet($event)"
        [value]="departureDate"
        (focus)="departureDatepicker.open()"
        [min]="getMinDate()"
        [max]="getMaxDate()"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="departureDatepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #departureDatepicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="time-field">
    <mat-form-field class="time-input-field" appearance="outline">
      <mat-label>Time</mat-label>
      <input
        matInput
        [ngxTimepicker]="departureTimePicker"
        [format]="12"
        [value]="departureDate | date: 'h:mm a'"
        readonly
      />
    </mat-form-field>
    <ngx-material-timepicker
      (timeSet)="handleDepartureTimeSet($event)"
      #departureTimePicker
      [theme]="timePickerThemeService.darkTheme"
    ></ngx-material-timepicker>
  </div>
</div>
<br />

<div id="buttons-block">
    <div id="bottom-error-block">
      <p id="stop-error" *ngIf="invalidMoreArrivalTimeError">* Departure time must be  more than arrival</p>
      <p id="stop-error" *ngIf="invalidLessArrivalTimeError">* Arrival time can not be less than arrival of Stop</p>
      <!-- <p id="stop-error" *ngIf="invalidMoreArrivalTimeErrorDepart">* Arrival time must be less than departue</p> -->
      <p id="stop-error" *ngIf="invalidDepartureTimeError">* Departure time must be  less than stop departure.</p>
    </div>
    <div id="bottom-button-block">
        <button mat-button (click)="closeAttractionDialog()">CANCEL</button>
        <button
          mat-raised-button
          (click)="addAttraction()"
          color="primary"
          [disabled]="invalidDepartureTimeError || invalidMoreArrivalTimeError || invalidLessArrivalTimeError "
        >
          ADD
        </button>
    </div>



  </div>

