<div class="card">
  <div class="image">
    <img [src]=hotelData.imageUrl alt=" Image not available"/>
  </div>

  <div class="details">
    <div
        #headingDetails
    >
    </div>
  </div>

  <div class="text-body">
    <a class="place-link" href="https://www.google.com/maps/search/?api=1&query={{hotelData.name}}&query_place_id={{hotelData.placeId}}" target="_blank">
    <div
      class="heading"
      (mouseover)="onHeadingOver()"
      (mouseout)="onHeadingOut()"
    >
      {{ hotelData.name.length > 17 ?
        hotelData.name.substring(0, 17) + '...' : hotelData.name}}
    </div>
    </a>
    <div class="facilities">
      {{ hotelData.description }}
    </div>
    <div class="hotel-rating">
      <strong>Rating: </strong>
      {{ hotelData.rating }}
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div
    class="locate-on-map"
    (click)="tripService.showPlaceMarker(hotelData)"
  >
    <img src="assets/icons/location_searching.svg" alt="Locate on map">
  </div>

  <div *ngIf="loginService?.canModifyTrip" class="add-btn-hotel" (click)="openHotelDialog(hotelData)">
    Add
  </div>
</div>
