<div class="card">
  <div class="image">
    <img [src]=hotelData.imageUrl />
  </div>
  <div class="text-body">
    <div class="heading">
      {{ hotelData.name }}
    </div>
    <div class="facilities">
      {{ hotelData.description }}
    </div>
    <div class="hotel-rating">
      <strong>Rating: </strong>
      {{ hotelData.rating }}
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div
    class="locate-on-map"
    (click)="tripService.showPlaceMarker(hotelData)"
  >
    <img src="assets/icons/location_searching.svg" alt="Locate on map">
  </div>
  <div class="add-btn-hotel" (click)="openHotelDialog(hotelData)">
    Add
  </div>
</div>
