* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.body {
  position: relative;

  width: 100%;
  margin-bottom: -4px;
}

.stop-buttons,
.places-holder {
  position: absolute;
  z-index: 1;

  width: 100%;
}

.edit-delete {
  display: inline-block;

  margin-left: 90%;
  margin-top: 53px;
  right: 0;
}

.edit-delete:hover {
  cursor: pointer;
}

.places-holder {
  margin-top: 127px;
}

.each-place {
  /* Just for reference */
  /*border: 1px solid black;*/
}

.place-delete {
  position: absolute;
  width: fit-content;

  right: 30px;
  margin-top: 20px;

  cursor: pointer;
}

.place-image {
  position: absolute;
  width: fit-content;

  left: 72px;
  margin-top: 8px;
}

.place-details {
  position: absolute;
  width: 289px;
  height: 65px;

  left: 63px;

  border: 1px solid transparent;
  cursor: pointer;
}

.place-details:hover {
  border-color: var(--main-theme-color);
  background-color: rgba(167, 167, 167, 0.2);
}
