* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.body {
  position: relative;

  width: 100%;
  margin-bottom: -4px;
}

.buttons,
.places-photos,
.places-delete {
  position: absolute;
  z-index: 1;

  width: 100%;
}

.edit-delete {
  display: inline-block;

  margin-left: 90%;
  margin-top: 53px;
  right: 0;
}

.edit-delete:hover {
  cursor: pointer;
}

.places-delete,
.places-photos {
  /*background-color: rgba(255, 255, 0, 0.3);*/
  margin-top: 125px;
}

.all-buttons {
  margin-top: 25px;
}

.places-delete-holder {
  margin-left: 90%;
  margin-bottom: 44px;
}

.places-delete-holder:hover {
  cursor: pointer;
}

.places-photos {
  /*background-color: rgba(255, 255, 0, 0.3);*/
}

.all-images {
  margin-top: 10px;
  margin-left: 70px;
}

.places-image-holder {
  margin-bottom: 19px;
}
