mat-card {
  height: 430px;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;

  width: 100%;
  position: absolute;
  border-top: 1px solid rgba(200, 200, 200, 0.8);

  bottom: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

.footer-nav .add-stop {
  text-transform: uppercase;

  margin-left: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;

  font-size: 12px;
  letter-spacing: 1px;

  color: white;
  background-color: var(--main-theme-color);

  outline: none;
}

.footer-nav .add-stop:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-nav .add-stop mat-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}

.footer-nav ul mat-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
}

.footer-nav ul {
  display: flex;
  justify-content: space-between;

  margin-right: 10px;
  width: 250px;

  text-decoration: none;
}

.footer-nav ul li {
  list-style: none;
  font-size: 16px;
}

.btn-footer {
  text-transform: uppercase;

  padding: 10px;
  border-radius: 20px;
  border: none;

  font-size: 12px;
  font-weight: 700;

  letter-spacing: 1px;
  background-color: white;

  outline: none;
}

.btn-footer:hover {
  color: white;
  background-color: rgba(100, 100, 100, 0.7);

  text-decoration: underline;
  cursor: pointer;
}

.timeline-body {
  position: relative;

  width: 100%;
  height: 360px;
  overflow-y: auto;
}

span {
  position: relative;
}

.duration-between-stops-container {
  position: absolute;
  z-index: 5;
  margin-left: 45px;
}

.duration-between-stops-container .duration {
  font-size: 11px;
  color: grey;
}
