<mat-card>
  <link
    href="//fonts.googleapis.com/css?family=Roboto:200,400,600"
    rel="stylesheet"
    type="text/css"
  />
  <div class="history-tl-container">
    <ul class="tl">
      <li class="tl-item" *ngIf="tripService?.trip?.source">
        <div class="item-title">{{ tripService.trip.source.name }}</div>
        <div class="timestamp">
          {{ tripService.trip.source.departure | date: "MMM d, y, h:mm a" }}
        </div>
        <div class="delete-icon">
          <mat-icon matSuffix>edit</mat-icon>
        </div>
      </li>


      <li class="tl-item" *ngFor="let stop of tripService?.trip?.stops ">
        <div class="item-title">{{ stop.name }}</div>
        <div class="timestamp">
          {{ stop.arrival | date: "MMM d, y, h:mm a" }}
        </div>
        <div class="delete-icon">
          <mat-icon matSuffix>delete</mat-icon>
        </div>
      </li>


      <li class="tl-item" *ngIf="tripService?.trip?.destination">
        <div class="item-title">{{ tripService.trip.destination.name }}</div>
        <div class="timestamp">
          {{ tripService.trip.destination.arrival | date: "MMM d, y, h:mm a" }}
        </div>
        <div class="delete-icon">
          <mat-icon matSuffix>delete</mat-icon>
        </div>
      </li>

      <!-- <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="item-title">Dehradun</div>
        <div class="timestamp">
          4th March 2015 7:00 PM
        </div>
        <div class="delete-icon">
          D
        </div>
      </li> -->

      <!-- <li class="tl-item" ng-repeat="item in retailer_history">
        <div id="li-block">
          <div class="item-title">Delhi</div>
          <div class="timestamp">
            4th March 2015 7:00 PM
          </div>
          <div class="delete-icon">
            D
          </div>
        </div>
      </li> -->
    </ul>
  </div>
</mat-card>
