<div class="container">

  <div class="background"></div>

  <div class="body">

    <div class="navigator">
      <div class="amenities-navbar">
        <div
          class="btn timeline"
          (click)="this.activeTab = 'timeline'"
          [ngClass]="{
            'btn-active': activeTab === 'timeline'
          }"
        >
          <mat-icon class="btn-icon">timeline</mat-icon>
          <span class="btn-text">Timeline</span>
        </div>
        <span class="btn-separator"></span>
        <div class="btn hotel"
          (click)="this.activeTab = 'hotel'"
          [ngClass]="{
              'btn-active': activeTab === 'hotel'
          }"
        >
          <mat-icon class="btn-icon">hotel</mat-icon>
          <span class="btn-text">Hotels</span>
        </div>
        <span class="btn-separator"></span>
        <div class="btn restaurant"
         (click)="this.activeTab = 'restaurant'"
         [ngClass]="{
            'btn-active': activeTab === 'restaurant'
          }"
        >
          <mat-icon class="btn-icon">restaurant</mat-icon>
          <span class="btn-text">Attractions</span>
        </div>
        <span class="btn-separator"></span>
        <div class="btn hospital"
         (click)="this.activeTab = 'hospital'; openHotelDialog()"
         [ngClass]="{
            'btn-active': activeTab === 'hospital'
          }"
        >
          <mat-icon class="btn-icon">local_hospital</mat-icon>
          <span class="btn-text">Hospitals</span>
        </div>
        <span class="btn-separator"></span>
      </div>
      <app-timeline
        [ngStyle]="{
          display: activeTab === 'timeline' ? 'block' : 'none'
        }"
      ></app-timeline>
      <app-hotel-card-list *ngIf="activeTab === 'hotel'"></app-hotel-card-list>
    </div>

    <app-map class="map"></app-map>

  </div>
</div>
