.planner-body {
  background-color: rgba(240, 240, 240, 0.5);
  position: absolute;
  margin-top: 65px;
  width: 100%;
}

@media screen and (max-width: 615px) {
  .planner-body {
    margin-top: 60px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.amenities-navbar {
  height: 70px;
  width: 500px;
  margin-top: 20px;
  margin-left: 24%;
  margin-bottom: 20px;

  background-color: white;
  border-radius: 15px;
}

.btn {
  position: relative;
  display: inline-block;

  height: 80%;
  width: 100px;
  margin-top: 7px;

  border-right: 1px solid rgba(127, 127, 127, 0.5);
  color: rgba(120, 120, 120, 1)
}

.btn:hover,
.btn-active {
  cursor: pointer;
  color: white;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}

.btn * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.btn .btn-icon {
  margin-top: 8px;
}

.btn .btn-text {
  width: fit-content;
  margin-top: 35px;
  font-size: 14px;
}

app-map {
  position: absolute;

  width: 500px;
  height: 517px;

  margin-top: 20px;
  margin-left: 53.5%;

  border: 1px solid rgba(127, 127, 127, 0.5);
  border-radius: 20px;
  overflow: hidden;
}
