<div class="body">
  <div class="background"></div>

  <div class="container">
    <div class="navigator">
      <div class="amenities-navbar">
        <div
          class="btn timeline"
          (click)="navigatorService.activeTab = 'timeline'"
          [ngClass]="{
            'btn-active': navigatorService.activeTab === 'timeline'
          }"
        >
          <mat-icon class="btn-icon">timeline</mat-icon>
          <span class="btn-text">Timeline</span>
        </div>
        <span class="btn-separator"></span>
        <div
          class="btn hotel"
          (click)="this.navigatorService.activeTab = 'hotel'"
          [ngClass]="{
            'btn-active': navigatorService.activeTab === 'hotel'
          }"
        >
          <mat-icon class="btn-icon">hotel</mat-icon>
          <span class="btn-text">Hotels</span>
        </div>
        <span class="btn-separator"></span>
        <div
          class="btn restaurant"
          (click)="this.navigatorService.activeTab = 'attractions'"
          [ngClass]="{
            'btn-active': navigatorService.activeTab === 'attractions'
          }"
        >
          <mat-icon class="btn-icon">attractions</mat-icon>
          <span class="btn-text">Attractions</span>
        </div>
        <span class="btn-separator"></span>
        <div
          class="btn expenses"
          (click)="this.navigatorService.activeTab = 'expenses'"
          [ngClass]="{
            'btn-active': navigatorService.activeTab === 'expenses'
          }"
        >
          <mat-icon class="btn-icon">local_gas_station</mat-icon>
          <span class="btn-text">Expenses</span>
        </div>
        <span class="btn-separator"></span>
      </div>

      <app-timeline *ngIf="navigatorService.activeTab === 'timeline'"></app-timeline>
      <app-hotel-card-list *ngIf="navigatorService.activeTab === 'hotel'"></app-hotel-card-list>
      <app-attraction-card-list *ngIf="navigatorService.activeTab === 'attractions'"></app-attraction-card-list>
      <app-expenses *ngIf="navigatorService.activeTab === 'expenses'"></app-expenses>
    </div>

    <app-map class="map"></app-map>
  </div>
</div>
