<div class="card">
  <div class="image">
    <img [src]="attractionData.imageUrl" alt=" Image not available"/>
  </div>

  <div class="details">
    <div
        #headingDetails
    >
    </div>
  </div>

  <div class="text-body">
    <div
      class="heading"
      (mouseover)="onHeadingOver()"
      (mouseout)="onHeadingOut()"
    >
      {{ attractionData.name.length > 17 ?
        attractionData.name.substring(0, 17) + '...' : attractionData.name}}
    </div>
    <div class="facilities">
      {{ attractionData.description }}
    </div>
    <div class="attraction-rating">
      <strong>Rating: </strong>
      <span *ngIf="attractionData.rating; else ratingNotAvailableTemplate">
        {{ attractionData.rating ? attractionData.rating : 0 }}
        <span class="fa fa-star"></span>
      </span>
      <ng-template #ratingNotAvailableTemplate>
        Not available
      </ng-template>
    </div>
  </div>
  <div
    class="locate-on-map"
    (click)="tripService.showPlaceMarker(attractionData)"
  >
    <img src="assets/icons/location_searching.svg" alt="Locate on map">
  </div>

  <div class="add-btn-attraction" (click)='openAttractionDialog(attractionData)'>
    Add
  </div>
</div>
