<div class="card" (click)="tripService.showPlaceMarker(attractionData)">
  <div class="image">
    <img [src]=attractionData.imageUrl />
  </div>
  <div class="text-body">
    <div class="heading">
      {{ attractionData.name }}
    </div>
    <div class="facilities">
      {{ attractionData.description }}
    </div>
    <div class="rating">
      <strong>Rating: </strong>
      {{ attractionData.rating }}
      <span class="fa fa-star"></span>
    </div>
  </div>
  <div class="add-btn" (click)='openAttractionDialog(attractionData)'>
    Add
  </div>
</div>
