<div class="body">
  <div class="source">
    <div class="from">From</div>
    <div class="from-place">{{ source }}</div>
    <div class="departure-date">Departure: {{ getDepartureDate() }}</div>
  </div>

  <div class="destination">
      <div class="to">To</div>
      <div class="to-place">{{ destination }}</div>
      <div class="arrival-date">Arrival: {{ getArrivalDate() }}</div>
  </div>

  <div class="stops">Stops: {{ numberOfStops }}</div>

  <div
    class="click"
    [routerLink]="['/planner', trip.id]"
  ></div>
</div>
