/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.timepicker .timepicker__header {
    background-color: #0B1240 !important;
}

.timepicker .clock-face__clock-hand {
  background-color: #0B1240 !important;
}

.timepicker .clock-face__clock-hand::after {
 background-color: #0B1240 !important;
}

.timepicker .clock-face__clock-hand::before {
 border-color: #0B1240 !important;
}

.timepicker  .clock-face__number > span.active {
  background-color: #0B1240 !important;
}

.timepicker button:not(.timepicker-dial__item) {
  color: #0B1240 !important;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
