/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header.timepicker__header {
  background-color: #0B1240 !important;
}

.clock-face div .active {
  background-color: #0B1240 !important;
}

.clock-face div span {
  /*background-color: #0B1240 !important;*/
  border-color: #0B1240 !important;
}
