* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  position: absolute;
  width: 100%;
}

img,
.img-background {
  position: absolute;
  padding: 0;
  height: 266px;
  width: 100%;
}

img {
  opacity: 0.9;
}

.img-background {
  background-color: var(--main-theme-color);
}

@media screen and (max-width: 1300px) and (min-width: 600px) {
  img,
  .img-background {
    height: 356px;
  }
}

@media screen and (max-width: 600px) {
  img,
  .img-background {
    height: 340px;
  }

  .tagline {
    font-size: 25px;
  }
}

.info {
  position: relative;
  width: 100%;
}

.tagline {
  color: white;
  width: fit-content;

  letter-spacing: 1px;

  margin: 100px auto auto;
}

.popular-trips {
  width: 80%;
  height: 100px;

  margin: auto;
  margin-top: 100px;

  border: 1px solid red;
}
