<div class="container">

  <div class="loader" *ngIf="displayLoader">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <div class="header">
      <span class="number-of-hotels-info bold">
          <span
              *ngIf="chosenCity; else noLocationSelected"
          >
              <span class="bolder">
                  {{ arrHotels ? (arrHotels.length).toString() : '0' }}
              </span>
              hotels found near {{ chosenCity }}
          </span>
          <ng-template #noLocationSelected>
              Choose a location to view hotels there
          </ng-template>

      </span>
    <div class="filter-btn bolder">Filter</div>
  </div>

  <div class="list-of-stops">

    <button
        *ngFor="let stop of tripService?.trip?.stops"
        (click)="hotelByStop(stop)"
        [ngClass]="{
          active: stop.name === chosenCity
        }"
    >
        {{ stop.name }}
    </button>
    <button
        *ngIf="tripService?.trip?.destination"
        (click)="hotelByStop(tripService?.trip?.destination)"
        [ngClass]="{
          active: tripService.trip.destination.name === chosenCity
        }"
    >
        {{ tripService.trip.destination.name }}
    </button>
  </div>

  <div class="hotels-list">
      <app-hotel-card
          [stopIdOfHotel]="stopIdOfHotel"
          *ngFor="let a of arrHotels"
          [hotelData]="getHotelData(a)"

      ></app-hotel-card>
  </div>
  <mat-slider [value]="radius" (change)="handleRadiusChange($event)" thumbLabel tickInterval="1" class="slider" min="1" max="5" step="1" value="1"></mat-slider>
</div>
