<!--<div class="hotelCardContainer">-->
<!--  <div class="hotelcardcontentcontainer">-->
<!--    <div class="abcd">-->
<!--      <span *ngFor="let a of arrHotels">-->
<!--        <app-hotel-card-->
<!--          [name]="a['name']"-->
<!--          [rating]="a['rating']"-->
<!--          [description]="-->
<!--            a['contact']['address']['line1'] +-->
<!--            ',' +-->
<!--            a['contact']['address']['line2']-->
<!--          "-->
<!--        ></app-hotel-card>-->
<!--      </span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">

  <div class="header">
    <span class="number-of-hotels-info bold">
      <span class="count bolder">
        {{ arrHotels ? (arrHotels.length).toString() : '0' }}
      </span>
      hotels found near Mumbai
    </span>
    <div class="filter-btn bolder">Filter</div>
  </div>

  <div class="list-of-stops">
    <button
        *ngIf="tripService?.trip?.source"
        (click)="hotelByStop(tripService?.trip?.source)"
    >
        {{ tripService.trip.source.name }}
    </button>
    <button
        *ngFor="let stop of tripService?.trip?.stops"
        (click)="hotelByStop(stop)">
        {{ stop.name }}
    </button>
    <button
        *ngIf="tripService?.trip?.destination"
        (click)="hotelByStop(tripService?.trip?.destination)"
    >
        {{ tripService.trip.destination.name }}
    </button>
  </div>

</div>
